extends layout

block content
  h1= title
  p Welcome to #{title}, manipulate your HQ photos and post to your favorite social media platform.
    div
      form(action='/setConfigs',method='post')
       div(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                  label(for='watermarkFilePath') Watermark file location:
                     input(id='watermarkFilePath',type='text',value='',placeholder='Watermark location.',name='watermarkFilePath')
              div(data-role='fieldcontain')
                       fieldset(data-role='controlgroup')
                            label(for='twitterActive') Post photos to Twitter?
                                input(id='twitterActive', type="checkbox", name="twitterActive")
              div#twitterHashtagdiv(data-role='fieldcontain')
                fieldset(data-role='controlgroup')
                  label(for='twitterHashtag') Twitter Hashtag:
                     input(id='twitterHashtag',type='text',value='',placeholder='',name='twitterHashtag')
              div(data-role='fieldcontain')
                                       fieldset(data-role='controlgroup')
                                            label(for='facebookActive') Post photos to Facebook?
                                                input(id='facebookActive', type="checkbox", name="facebookActive")
              div(data-role='fieldcontain')
                              fieldset(data-role='controlgroup')
                                label(for='facebookAlbumName') Facebook Album Name:
                                   input(id='facebookAlbumName',type='text',value='',placeholder='',name='facebookAlbumName')
              div(data-role='fieldcontain')
                                            fieldset(data-role='controlgroup')
                                              label(for='facebookAlbumDesc') Facebook Album Description:
                                                 input(id='facebookAlbumDesc',type='text',value='',placeholder='',name='facebookAlbumDesc')
              div(data-role='fieldcontain')
                                            fieldset(data-role='controlgroup')
                                              label(for='facebookCaption') Facebook Photo Caption:
                                                 input(id='facebookCaption',type='text',value='',placeholder='',name='facebookCaption')


          input(type='submit',value='Start Van Exel',data-transition='fade', data-theme='c')
